<h1>Checkout!</h1>
<h2>Your cart has:</h2>
<% @carted_products.each do |carted_product| %>
  <p> Name: <%= carted_product.product.name %> </p> 
  <p> Quantity: <%= carted_product.quantity %> </p>
<% end %>
<%= form_tag '/orders', method: :post do %>
      <div>
      <%= submit_tag "Buy Now" %>
    <% end %>
    <a href = '/products'>Keep shopping</a>