  <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">  
    <img src= '<%= @product.image %>'/>
    <div class="caption">
    <h3><%= @product.name %></h3> 
    <h3>Price $<%= @product.price %></h3>
    <p><%= @product.description %></p>
    <p><a href="#" class="btn btn-primary" role="button">Buy</a></p>
    </div>
    
    </div>
      
    </div>
  </div>
  <p>Back to all <a href= '/products'> products</a></p>
